EDA - Exploratory Data Analysis
1) read the data
2) head,tail,columns
3) Numerical data and categorical data
4) mean,medain,mode and standard deviation for the numeric values
5) Cross tabulation
6) Replace the missing values
7) possible graphs

In [11]:
import pandas as pd
Data = pd.read_csv('D:/DataScience/Machine_learning/banking.csv')
Data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,NaN,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,NaN,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,NaN,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,NaN,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,NaN,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
5,30,management,divorced,basic.4y,no,yes,no,NaN,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
6,37,blue-collar,married,basic.4y,no,yes,no,NaN,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,0
7,39,blue-collar,divorced,basic.9y,no,yes,no,NaN,may,fri,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
8,36,admin.,married,university.degree,no,no,no,NaN,jun,mon,...,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
9,27,blue-collar,single,basic.4y,no,yes,no,cellular,apr,thu,...,2,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,0
10,34,housemaid,single,university.degree,no,no,no,telephone,may,fri,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,0
11,41,management,married,university.degree,no,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,0
12,55,management,married,university.degree,no,no,no,cellular,aug,mon,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,1
13,33,services,divorced,high.school,no,yes,no,cellular,may,tue,...,5,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1,0
14,26,admin.,married,high.school,no,no,yes,telephone,jun,mon,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,0
15,52,services,married,high.school,unknown,yes,no,cellular,jul,thu,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
16,35,services,married,high.school,no,no,no,cellular,apr,thu,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,1
17,27,admin.,single,university.degree,no,no,no,telephone,oct,tue,...,1,999,0,nonexistent,-0.1,93.798,-40.4,4.860,5195.8,1
18,28,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
19,26,unemployed,single,basic.9y,no,yes,yes,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
20,41,unemployed,married,basic.9y,unknown,yes,no,telephone,apr,fri,...,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,0
21,35,blue-collar,single,unknown,no,no,yes,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
22,40,admin.,married,university.degree,unknown,yes,no,telephone,jul,wed,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
23,32,technician,single,professional.course,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,0
24,41,blue-collar,married,high.school,no,yes,yes,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
25,34,entrepreneur,single,university.degree,no,yes,no,cellular,may,tue,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,0
26,49,technician,divorced,unknown,no,yes,yes,cellular,oct,thu,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5,0
27,37,admin.,married,high.school,no,yes,no,cellular,apr,thu,...,1,2,1,success,-1.8,93.075,-47.1,1.365,5099.1,0
28,35,blue-collar,married,basic.6y,unknown,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
29,38,blue-collar,single,basic.4y,unknown,no,no,telephone,jul,tue,...,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,30,services,married,high.school,unknown,unknown,unknown,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41159,47,admin.,divorced,high.school,unknown,no,no,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41160,57,management,divorced,university.degree,unknown,yes,yes,cellular,nov,thu,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,0
41161,43,blue-collar,married,high.school,unknown,no,no,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41162,43,self-employed,married,high.school,unknown,yes,no,cellular,apr,wed,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.445,5099.1,0
41163,22,blue-collar,single,basic.9y,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,0
41164,33,technician,single,professional.course,no,yes,no,cellular,aug,fri,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
41165,56,admin.,married,unknown,no,yes,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,0
41166,31,admin.,married,unknown,no,yes,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,0
41167,30,admin.,single,high.school,no,no,no,cellular,jul,wed,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
41168,29,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
41169,46,technician,married,basic.9y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41170,32,technician,single,university.degree,no,yes,yes,cellular,aug,thu,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1,0
41171,42,admin.,married,high.school,unknown,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,0
41172,27,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,wed,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,1
41173,39,self-employed,married,high.school,no,yes,no,telephone,may,fri,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0
41174,49,entrepreneur,married,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,0
41175,46,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,tue,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41176,30,blue-collar,single,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,0
41177,52,self-employed,single,university.degree,unknown,yes,no,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41178,35,technician,married,high.school,no,no,no,telephone,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,1
41179,29,technician,single,basic.9y,no,yes,no,cellular,may,mon,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,0
41180,44,services,married,high.school,unknown,yes,yes,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41181,39,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41182,24,admin.,married,high.school,no,yes,no,cellular,may,thu,...,4,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,0
41183,59,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,telephone,oct,tue,...,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [5]:
Data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [7]:
Data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [13]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41179 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp_var_rate      41188 non-null float64
cons_price_idx    41188 non-null float64
cons_conf_idx     41188 non-null float64
euribor3m         41188 non-null float64
nr_employed       41188 non-null float64
y                 41188 non-null int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [15]:
num_cols = Data._get_numeric_data().columns #to_numeric
num_cols

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [17]:
des = Data.describe()
des

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,0.112654
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,0.316173
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [19]:
med = Data['age'].median()
med

38.0

In [21]:
mod = Data['age'].mode()
mod

0    31
dtype: int64

# CROSS TABULATION

In [24]:
#2 way corss tabulation

df = pd.crosstab(Data.month,Data.campaign,margins = True)
df

campaign,1,2,3,4,5,6,7,8,9,10,...,34,35,37,39,40,41,42,43,56,All
month,,,,,,,,,,,,,,,,,,,,,
apr,1325,725,317,118,74,39,14,6,1,3,...,0,0,0,0,0,0,0,0,0,2632
aug,2596,1392,912,408,278,140,119,66,67,52,...,0,0,0,0,0,0,0,0,0,6178
dec,83,46,27,10,7,5,2,1,0,1,...,0,0,0,0,0,0,0,0,0,182
jul,2674,1636,1050,552,353,229,153,105,65,58,...,3,3,0,0,1,0,0,2,0,7174
jun,2043,1336,730,377,202,153,86,75,41,48,...,0,1,1,0,1,1,0,0,0,5318
mar,253,158,60,35,12,9,6,3,1,1,...,0,0,0,0,0,0,0,0,0,546
may,5766,3804,1726,924,547,344,205,130,92,56,...,0,1,0,1,0,0,2,0,1,13769
nov,2119,1152,408,189,107,53,39,13,14,6,...,0,0,0,0,0,0,0,0,0,4101
oct,455,181,52,18,8,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,718
sep,328,140,59,20,11,4,4,1,2,0,...,0,0,0,0,0,0,0,0,0,570
All,17642,10570,5341,2651,1599,979,629,400,283,225,...,3,5,1,1,2,1,2,2,1,41188

In [26]:
df = pd.crosstab([Data.month,Data.day_of_week],Data.campaign,margins = True)
df

campaign               1      2     3     4     5    6    7    8    9   10  \
month day_of_week
apr   fri            305    197    71    21     8    6    1    1    0    0
      mon            291    171   121    49    45   17    2    1    0    2
      thu            461    201    63    21     7    8    3    0    0    1
      tue            124     61    34    16     7    5    2    2    0    0
      wed            144     95    28    11     7    3    6    2    1    0
aug   fri            529    207   134    71    43   20   24   11   13    8
      mon            390    366   220    86    65   28   26    7   10    8
      thu            581    248   200    79    63   34   27   21   18   17
      tue            575    296   176    80    53   28   19   13   12   12
      wed            521    275   182    92    54   30   23   14   14    7
dec   fri              4      8     3     2     3    2    1    0    0    1
      mon             25     14     7     3     2    2    0    0    0    0
      thu             27      7     6     3     1    1    0    0    0    0
      tue              9      9     5     2     0    0    0    0    0    0
      wed             18      8     6     0     1    0    1    1    0    0
jul   fri            333    371   118    57    37   19   23   10   14    9
      mon            351    368   364   157    74   47   35   25   15   14
      thu            775    278   190    89    80   58   37   23   12   19
      tue            547    325   217   155    95   53   30   19   13    4
      wed            668    294   161    94    67   52   28   28   11   12
jun   fri            279    289   199   109    66   35   27   18   12   13
      mon            480    320   194   101    44   35    9   17    7    7
      thu            470    264   103    36    18   19   12   10    3    6
      tue            412    231   121    61    40   33   23   12    5    6
      wed            402    232   113    70    34   31   15   18   14   16
mar   fri             45     29    12     2     3    0    1    0    0    0
      mon             41     48    20    16     5    6    2    2    0    0
      thu             51     29     8     9     0    0    1    0    1    0
      tue             81     35    14     5     2    0    0    0    0    0
      wed             35     17     6     3     2    3    2    1    0    1
may   fri           1081    757   407   239   124   76   45   37   30    9
      mon           1035    713   338   201   138   91   45   24   15   10
      thu           1081    686   329   156    91   64   55   23   13    9
      tue           1318    771   295   155    97   64   26   22   18   17
      wed           1251    877   357   173    97   49   34   24   16   11
nov   fri            308    205    94    53    36   18   20    5   10    5
      mon            472    212    50    17    11    1    1    2    0    0
      thu            412    252   114    57    24   25   10    6    3    0
      tue            455    250    63    28    12    4    2    0    0    0
      wed            472    233    87    34    24    5    6    0    1    1
oct   fri             80     43    12     5     2    0    0    0    0    0
      mon             83     29    11     4     2    0    0    0    0    0
      thu             91     43    16     6     4    3    0    0    0    0
      tue            108     33     5     2     0    0    1    0    0    0
      wed             93     33     8     1     0    0    0    0    0    0
sep   fri             51     36    15     6     2    1    1    1    2    0
      mon             43     22    13     6     3    1    2    0    0    0
      thu             80     24    11     4     1    1    1    0    0    0
      tue             80     26     6     1     3    1    0    0    0    0
      wed             74     32    14     3     2    0    0    0    0    0
All                17642  10570  5341  2651  1599  979  629  400  283  225

campaign           ...    34  35  37  39  40  41  42  43  56    All
month day_of_week  ...
apr   fri          ...     0   0   0   0   0   0   0   0   0    610
      mon          ...     0   0   0   0   0   0   0   0   0    702
      thu          ...     0   0   0   0   0   0   0   0   0    768
      tue          ...     0   0   0   0   0   0   0   0   0    252
      wed          ...     0   0   0   0   0   0   0   0   0    300
aug   fri          ...     0   0   0   0   0   0   0   0   0   1070
      mon          ...     0   0   0   0   0   0   0   0   0   1222
      thu          ...     0   0   0   0   0   0   0   0   0   1347
      tue          ...     0   0   0   0   0   0   0   0   0   1296
      wed          ...     0   0   0   0   0   0   0   0   0   1243
dec   fri          ...     0   0   0   0   0   0   0   0   0     24
      mon          ...     0   0   0   0   0   0   0   0   0     53
      thu          ...     0   0   0   0   0   0   0   0   0     45
      tue          ...     0   0   0   0   0   0   0   0   0     25
      wed          ...     0   0   0   0   0   0   0   0   0     35
jul   fri          ...     0   0   0   0   0   0   0   0   0   1012
      mon          ...     1   0   0   0   0   0   0   0   0   1516
      thu          ...     1   2   0   0   1   0   0   1   0   1672
      tue          ...     1   1   0   0   0   0   0   0   0   1517
      wed          ...     0   0   0   0   0   0   0   1   0   1457
jun   fri          ...     0   0   1   0   1   0   0   0   0   1147
      mon          ...     0   1   0   0   0   0   0   0   0   1251
      thu          ...     0   0   0   0   0   0   0   0   0    967
      tue          ...     0   0   0   0   0   0   0   0   0    970
      wed          ...     0   0   0   0   0   1   0   0   0    983
mar   fri          ...     0   0   0   0   0   0   0   0   0     94
      mon          ...     0   0   0   0   0   0   0   0   0    143
      thu          ...     0   0   0   0   0   0   0   0   0     99
      tue          ...     0   0   0   0   0   0   0   0   0    140
      wed          ...     0   0   0   0   0   0   0   0   0     70
may   fri          ...     0   0   0   0   0   0   1   0   0   2858
      mon          ...     0   1   0   1   0   0   1   0   1   2642
      thu          ...     0   0   0   0   0   0   0   0   0   2537
      tue          ...     0   0   0   0   0   0   0   0   0   2809
      wed          ...     0   0   0   0   0   0   0   0   0   2923
nov   fri          ...     0   0   0   0   0   0   0   0   0    755
      mon          ...     0   0   0   0   0   0   0   0   0    766
      thu          ...     0   0   0   0   0   0   0   0   0    903
      tue          ...     0   0   0   0   0   0   0   0   0    814
      wed          ...     0   0   0   0   0   0   0   0   0    863
oct   fri          ...     0   0   0   0   0   0   0   0   0    142
      mon          ...     0   0   0   0   0   0   0   0   0    129
      thu          ...     0   0   0   0   0   0   0   0   0    163
      tue          ...     0   0   0   0   0   0   0   0   0    149
      wed          ...     0   0   0   0   0   0   0   0   0    135
sep   fri          ...     0   0   0   0   0   0   0   0   0    115
      mon          ...     0   0   0   0   0   0   0   0   0     90
      thu          ...     0   0   0   0   0   0   0   0   0    122
      tue          ...     0   0   0   0   0   0   0   0   0    118
      wed          ...     0   0   0   0   0   0   0   0   0    125
All                ...     3   5   1   1   2   1   2   2   1  41188

[51 rows x 43 columns]

In [2]:
Data.corr()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
age,1.000000,-0.000866,0.004594,-0.034369,0.024365,-0.000371,0.000857,0.129372,0.010767,-0.017725,0.030399
duration,-0.000866,1.000000,-0.071699,-0.047577,0.020640,-0.027968,0.005312,-0.008173,-0.032897,-0.044703,0.405274
campaign,0.004594,-0.071699,1.000000,0.052584,-0.079141,0.150754,0.127836,-0.013733,0.135133,0.144095,-0.066357
pdays,-0.034369,-0.047577,0.052584,1.000000,-0.587514,0.271004,0.078889,-0.091342,0.296899,0.372605,-0.324914
previous,0.024365,0.020640,-0.079141,-0.587514,1.000000,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333,0.230181
emp_var_rate,-0.000371,-0.027968,0.150754,0.271004,-0.420489,1.000000,0.775334,0.196041,0.972245,0.906970,-0.298334
cons_price_idx,0.000857,0.005312,0.127836,0.078889,-0.203130,0.775334,1.000000,0.058986,0.688230,0.522034,-0.136211
cons_conf_idx,0.129372,-0.008173,-0.013733,-0.091342,-0.050936,0.196041,0.058986,1.000000,0.277686,0.100513,0.054878
euribor3m,0.010767,-0.032897,0.135133,0.296899,-0.454494,0.972245,0.688230,0.277686,1.000000,0.945154,-0.307771
nr_employed,-0.017725,-0.044703,0.144095,0.372605,-0.501333,0.906970,0.522034,0.100513,0.945154,1.000000,-0.354678
y,0.030399,0.405274,-0.066357,-0.324914,0.230181,-0.298334,-0.136211,0.054878,-0.307771,-0.354678,1.000000

# MISSING VALUES

isnull() and notnull()

In [6]:
print(Data['contact'].notnull())

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
41158     True
41159     True
41160     True
41161     True
41162     True
41163     True
41164     True
41165     True
41166     True
41167     True
41168     True
41169     True
41170     True
41171     True
41172     True
41173     True
41174     True
41175     True
41176     True
41177     True
41178     True
41179     True
41180     True
41181     True
41182     True
41183     True
41184     True
41185     True
41186     True
41187     True
Name: contact, Length: 41188, dtype: bool

calculation using missing data
1) sum NA will be treated as 0
2) NA then it will be NA

# Cleaning/filling missing data

In [9]:
#1) Replace it with a scalar value
print(Data.fillna(0))

       age            job   marital            education  default  housing  \
0       44    blue-collar   married             basic.4y  unknown      yes
1       53     technician   married              unknown       no       no
2       28     management    single    university.degree       no      yes
3       39       services   married          high.school       no       no
4       55        retired   married             basic.4y       no      yes
5       30     management  divorced             basic.4y       no      yes
6       37    blue-collar   married             basic.4y       no      yes
7       39    blue-collar  divorced             basic.9y       no      yes
8       36         admin.   married    university.degree       no       no
9       27    blue-collar    single             basic.4y       no      yes
10      34      housemaid    single    university.degree       no       no
11      41     management   married    university.degree       no      yes
12      55     management   married    university.degree       no       no
13      33       services  divorced          high.school       no      yes
14      26         admin.   married          high.school       no       no
15      52       services   married          high.school  unknown      yes
16      35       services   married          high.school       no       no
17      27         admin.    single    university.degree       no       no
18      28    blue-collar   married             basic.9y  unknown       no
19      26     unemployed    single             basic.9y       no      yes
20      41     unemployed   married             basic.9y  unknown      yes
21      35    blue-collar    single              unknown       no       no
22      40         admin.   married    university.degree  unknown      yes
23      32     technician    single  professional.course       no       no
24      41    blue-collar   married          high.school       no      yes
25      34   entrepreneur    single    university.degree       no      yes
26      49     technician  divorced              unknown       no      yes
27      37         admin.   married          high.school       no      yes
28      35    blue-collar   married             basic.6y  unknown      yes
29      38    blue-collar    single             basic.4y  unknown       no
...    ...            ...       ...                  ...      ...      ...
41158   30       services   married          high.school  unknown  unknown
41159   47         admin.  divorced          high.school  unknown       no
41160   57     management  divorced    university.degree  unknown      yes
41161   43    blue-collar   married          high.school  unknown       no
41162   43  self-employed   married          high.school  unknown      yes
41163   22    blue-collar    single             basic.9y       no      yes
41164   33     technician    single  professional.course       no      yes
41165   56         admin.   married              unknown       no      yes
41166   31         admin.   married              unknown       no      yes
41167   30         admin.    single          high.school       no       no
41168   29    blue-collar    single             basic.9y  unknown      yes
41169   46     technician   married             basic.9y       no       no
41170   32     technician    single    university.degree       no      yes
41171   42         admin.   married          high.school  unknown       no
41172   27    blue-collar    single             basic.9y  unknown      yes
41173   39  self-employed   married          high.school       no      yes
41174   49   entrepreneur   married    university.degree       no       no
41175   46    blue-collar   married             basic.4y  unknown      yes
41176   30    blue-collar    single             basic.9y       no      yes
41177   52  self-employed    single    university.degree  unknown      yes
41178   35     technician   married          high.school       no       no
41179   29     technician    single             basic.9y       no      yes
41180   44       services   married          high.school  unknown      yes
41181   39         admin.   married    university.degree       no       no
41182   24         admin.   married          high.school       no      yes
41183   59        retired   married          high.school  unknown       no
41184   31      housemaid   married             basic.4y  unknown       no
41185   42         admin.    single    university.degree  unknown      yes
41186   48     technician   married  professional.course       no       no
41187   25        student    single          high.school       no       no

          loan    contact month day_of_week ...  campaign  pdays  previous  \
0           no          0   aug         thu ...         1    999         0
1           no          0   nov         fri ...         1    999         0
2           no          0   jun         thu ...         3      6         2
3           no          0   apr         fri ...         2    999         0
4           no          0   aug         fri ...         1      3         1
5           no          0   jul         tue ...         8    999         0
6           no          0   may         thu ...         1    999         0
7           no          0   may         fri ...         1    999         0
8           no          0   jun         mon ...         1      3         1
9           no   cellular   apr         thu ...         2    999         1
10          no  telephone   may         fri ...         2    999         0
11          no   cellular   aug         thu ...         1    999         0
12          no   cellular   aug         mon ...         3    999         0
13          no   cellular   may         tue ...         5    999         0
14         yes  telephone   jun         mon ...         1    999         0
15          no   cellular   jul         thu ...         2    999         0
16          no   cellular   apr         thu ...         2    999         0
17          no  telephone   oct         tue ...         1    999         0
18          no  telephone   may         thu ...         1    999         0
19         yes   cellular   jul         mon ...         4    999         0
20          no  telephone   apr         fri ...         1    999         1
21         yes  telephone   jun         fri ...         1    999         0
22          no  telephone   jul         wed ...         1    999         0
23          no   cellular   jul         thu ...         1    999         0
24         yes   cellular   jul         thu ...         3    999         0
25          no   cellular   may         tue ...         2    999         0
26         yes   cellular   oct         thu ...         1    999         0
27          no   cellular   apr         thu ...         1      2         1
28          no   cellular   may         fri ...         2    999         0
29          no  telephone   jul         tue ...         5    999         0
...        ...        ...   ...         ... ...       ...    ...       ...
41158  unknown  telephone   jun         fri ...         1    999         0
41159       no   cellular   jul         mon ...         4    999         0
41160      yes   cellular   nov         thu ...         2    999         0
41161       no   cellular   jul         mon ...         1    999         0
41162       no   cellular   apr         wed ...         2    999         0
41163       no  telephone   may         tue ...         1    999         0
41164       no   cellular   aug         fri ...         2    999         0
41165       no   cellular   aug         mon ...         2    999         0
41166       no   cellular   may         wed ...         1    999         0
41167       no   cellular   jul         wed ...         3    999         0
41168       no   cellular   jul         tue ...         1    999         0
41169       no   cellular   nov         tue ...         1    999         0
41170      yes   cellular   aug         thu ...         3    999         0
41171       no  telephone   jun         tue ...         2    999         0
41172       no   cellular   jul         wed ...         4    999         0
41173       no  telephone   may         fri ...         1    999         0
41174       no   cellular   may         wed ...         2    999         0
41175       no   cellular   aug         tue ...         3    999         0
41176       no   cellular   may         fri ...         2    999         0
41177       no  telephone   jun         fri ...         1    999         0
41178       no  telephone   aug         fri ...         1    999         0
41179       no   cellular   may         mon ...         1    999         0
41180      yes   cellular   aug         fri ...         1    999         0
41181       no   cellular   nov         tue ...         2    999         0
41182       no   cellular   may         thu ...         4    999         1
41183      yes  telephone   jun         thu ...         1    999         0
41184       no  telephone   may         thu ...         2    999         0
41185      yes  telephone   may         wed ...         3    999         0
41186      yes  telephone   oct         tue ...         2    999         0
41187       no  telephone   may         fri ...         4    999         0

          poutcome emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  \
0      nonexistent          1.4          93.444          -36.1      4.963
1      nonexistent         -0.1          93.200          -42.0      4.021
2          success         -1.7          94.055          -39.8      0.729
3      nonexistent         -1.8          93.075          -47.1      1.405
4          success         -2.9          92.201          -31.4      0.869
5      nonexistent          1.4          93.918          -42.7      4.961
6      nonexistent         -1.8          92.893          -46.2      1.327
7      nonexistent         -1.8          92.893          -46.2      1.313
8          success         -2.9          92.963          -40.8      1.266
9          failure         -1.8          93.075          -47.1      1.410
10     nonexistent          1.1          93.994          -36.4      4.864
11     nonexistent          1.4          93.444          -36.1      4.964
12     nonexistent          1.4          93.444          -36.1      4.965
13     nonexistent         -1.8          92.893          -46.2      1.291
14     nonexistent          1.4          94.465          -41.8      4.960
15     nonexistent          1.4          93.918          -42.7      4.962
16     nonexistent         -1.8          93.075          -47.1      1.365
17     nonexistent         -0.1          93.798          -40.4      4.860
18     nonexistent          1.1          93.994          -36.4      4.860
19     nonexistent          1.4          93.918          -42.7      4.960
20         failure         -1.8          93.075          -47.1      1.405
21     nonexistent          1.4          94.465          -41.8      4.967
22     nonexistent          1.4          93.918          -42.7      4.963
23     nonexistent          1.4          93.918          -42.7      4.968
24     nonexistent          1.4          93.918          -42.7      4.962
25     nonexistent         -1.8          92.893          -46.2      1.344
26     nonexistent         -3.4          92.431          -26.9      0.754
27         success         -1.8          93.075          -47.1      1.365
28     nonexistent         -1.8          92.893          -46.2      1.313
29     nonexistent          1.4          93.918          -42.7      4.961
...            ...          ...             ...            ...        ...
41158  nonexistent          1.4          94.465          -41.8      4.967
41159  nonexistent          1.4          93.918          -42.7      4.960
41160  nonexistent         -0.1          93.200          -42.0      4.076
41161  nonexistent          1.4          93.918          -42.7      4.960
41162  nonexistent         -1.8          93.075          -47.1      1.445
41163  nonexistent          1.1          93.994          -36.4      4.856
41164  nonexistent          1.4          93.444          -36.1      4.963
41165  nonexistent          1.4          93.444          -36.1      4.965
41166  nonexistent         -1.8          92.893          -46.2      1.334
41167  nonexistent          1.4          93.918          -42.7      4.963
41168  nonexistent          1.4          93.918          -42.7      4.961
41169  nonexistent         -0.1          93.200          -42.0      4.153
41170  nonexistent          1.4          93.444          -36.1      4.962
41171  nonexistent          1.4          94.465          -41.8      4.961
41172  nonexistent          1.4          93.918          -42.7      4.963
41173  nonexistent          1.1          93.994          -36.4      4.859
41174  nonexistent         -1.8          92.893          -46.2      1.281
41175  nonexistent          1.4          93.444          -36.1      4.966
41176  nonexistent         -1.8          92.893          -46.2      1.250
41177  nonexistent          1.4          94.465          -41.8      4.967
41178  nonexistent          1.4          93.444          -36.1      4.966
41179  nonexistent         -1.8          92.893          -46.2      1.299
41180  nonexistent          1.4          93.444          -36.1      4.966
41181  nonexistent         -0.1          93.200          -42.0      4.153
41182      failure         -1.8          92.893          -46.2      1.266
41183  nonexistent          1.4          94.465          -41.8      4.866
41184  nonexistent          1.1          93.994          -36.4      4.860
41185  nonexistent          1.1          93.994          -36.4      4.857
41186  nonexistent         -3.4          92.431          -26.9      0.742
41187  nonexistent          1.1          93.994          -36.4      4.859

       nr_employed  y
0           5228.1  0
1           5195.8  0
2           4991.6  1
3           5099.1  0
4           5076.2  1
5           5228.1  0
6           5099.1  0
7           5099.1  0
8           5076.2  1
9           5099.1  0
10          5191.0  0
11          5228.1  0
12          5228.1  1
13          5099.1  0
14          5228.1  0
15          5228.1  0
16          5099.1  1
17          5195.8  1
18          5191.0  0
19          5228.1  0
20          5099.1  0
21          5228.1  0
22          5228.1  0
23          5228.1  0
24          5228.1  0
25          5099.1  0
26          5017.5  0
27          5099.1  0
28          5099.1  0
29          5228.1  0
...            ... ..
41158       5228.1  0
41159       5228.1  0
41160       5195.8  0
41161       5228.1  0
41162       5099.1  0
41163       5191.0  0
41164       5228.1  0
41165       5228.1  0
41166       5099.1  0
41167       5228.1  0
41168       5228.1  0
41169       5195.8  0
41170       5228.1  0
41171       5228.1  0
41172       5228.1  1
41173       5191.0  0
41174       5099.1  0
41175       5228.1  0
41176       5099.1  0
41177       5228.1  0
41178       5228.1  1
41179       5099.1  0
41180       5228.1  0
41181       5195.8  0
41182       5099.1  0
41183       5228.1  0
41184       5191.0  0
41185       5191.0  0
41186       5017.5  0
41187       5191.0  0

[41188 rows x 21 columns]

print(Dat)a.fllna(method='pad')) - fills in foward
method = 'bfill' - fills with backward direction

In [13]:
Data.dropna(axis=1) # drop the data on different rows where we have NA

,age,job,marital,education,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,aug,thu,210,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,nov,fri,138,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,jun,thu,339,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,apr,fri,185,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,aug,fri,137,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
5,30,management,divorced,basic.4y,no,yes,no,jul,tue,68,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
6,37,blue-collar,married,basic.4y,no,yes,no,may,thu,204,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,0
7,39,blue-collar,divorced,basic.9y,no,yes,no,may,fri,191,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
8,36,admin.,married,university.degree,no,no,no,jun,mon,174,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
9,27,blue-collar,single,basic.4y,no,yes,no,apr,thu,191,2,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,0
10,34,housemaid,single,university.degree,no,no,no,may,fri,62,2,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,0
11,41,management,married,university.degree,no,yes,no,aug,thu,789,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,0
12,55,management,married,university.degree,no,no,no,aug,mon,372,3,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,1
13,33,services,divorced,high.school,no,yes,no,may,tue,75,5,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1,0
14,26,admin.,married,high.school,no,no,yes,jun,mon,1021,1,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,0
15,52,services,married,high.school,unknown,yes,no,jul,thu,117,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
16,35,services,married,high.school,no,no,no,apr,thu,1034,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,1
17,27,admin.,single,university.degree,no,no,no,oct,tue,540,1,999,0,nonexistent,-0.1,93.798,-40.4,4.860,5195.8,1
18,28,blue-collar,married,basic.9y,unknown,no,no,may,thu,140,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
19,26,unemployed,single,basic.9y,no,yes,yes,jul,mon,104,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
20,41,unemployed,married,basic.9y,unknown,yes,no,apr,fri,246,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,0
21,35,blue-collar,single,unknown,no,no,yes,jun,fri,1114,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
22,40,admin.,married,university.degree,unknown,yes,no,jul,wed,340,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
23,32,technician,single,professional.course,no,no,no,jul,thu,35,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,0
24,41,blue-collar,married,high.school,no,yes,yes,jul,thu,241,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
25,34,entrepreneur,single,university.degree,no,yes,no,may,tue,168,2,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,0
26,49,technician,divorced,unknown,no,yes,yes,oct,thu,81,1,999,0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5,0
27,37,admin.,married,high.school,no,yes,no,apr,thu,226,1,2,1,success,-1.8,93.075,-47.1,1.365,5099.1,0
28,35,blue-collar,married,basic.6y,unknown,yes,no,may,fri,746,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
29,38,blue-collar,single,basic.4y,unknown,no,no,jul,tue,41,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,30,services,married,high.school,unknown,unknown,unknown,jun,fri,127,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41159,47,admin.,divorced,high.school,unknown,no,no,jul,mon,129,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41160,57,management,divorced,university.degree,unknown,yes,yes,nov,thu,114,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,0
41161,43,blue-collar,married,high.school,unknown,no,no,jul,mon,339,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41162,43,self-employed,married,high.school,unknown,yes,no,apr,wed,902,2,999,0,nonexistent,-1.8,93.075,-47.1,1.445,5099.1,0
41163,22,blue-collar,single,basic.9y,no,yes,no,may,tue,396,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,0
41164,33,technician,single,professional.course,no,yes,no,aug,fri,436,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
41165,56,admin.,married,unknown,no,yes,no,aug,mon,476,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,0
41166,31,admin.,married,unknown,no,yes,no,may,wed,208,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,0
41167,30,admin.,single,high.school,no,no,no,jul,wed,251,3,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
41168,29,blue-collar,single,basic.9y,unknown,yes,no,jul,tue,254,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
41169,46,technician,married,basic.9y,no,no,no,nov,tue,530,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41170,32,technician,single,university.degree,no,yes,yes,aug,thu,195,3,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1,0
41171,42,admin.,married,high.school,unknown,no,no,jun,tue,956,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,0
41172,27,blue-collar,single,basic.9y,unknown,yes,no,jul,wed,1309,4,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,1
41173,39,self-employed,married,high.school,no,yes,no,may,fri,291,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0
41174,49,entrepreneur,married,university.degree,no,no,no,may,wed,140,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,0
41175,46,blue-collar,married,basic.4y,unknown,yes,no,aug,tue,58,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41176,30,blue-collar,single,basic.9y,no,yes,no,may,fri,74,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,0
41177,52,self-employed,single,university.degree,unknown,yes,no,jun,fri,73,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41178,35,technician,married,high.school,no,no,no,aug,fri,243,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,1
41179,29,technician,single,basic.9y,no,yes,no,may,mon,214,1,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,0
41180,44,services,married,high.school,unknown,yes,yes,aug,fri,34,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41181,39,admin.,married,university.degree,no,no,no,nov,tue,123,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41182,24,admin.,married,high.school,no,yes,no,may,thu,118,4,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,0
41183,59,retired,married,high.school,unknown,no,yes,jun,thu,222,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,housemaid,married,basic.4y,unknown,no,no,may,thu,196,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,admin.,single,university.degree,unknown,yes,yes,may,wed,62,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,oct,tue,200,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,may,fri,112,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0